<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
      <h1><a href="{{ url_for('main') }}">PyBomb Demo</a></h1>
      <h2>A simple demo of the
        <a href="https://github.com/steveYeah/PyBomb" target="_blank">PyBomb clients</a>
      </h2>
      <hr />
      <form action="{{ url_for('main') }}" method="POST">
        <input type="text" id="search_title" name="search_title" value="{{ search_title }}" />
        <input type="submit" value="Search Game" />
      </form>
      <hr />

      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      <br />
      <hr />
      &copy; <a href="http://owndsource.net/">steveYeah</a>.
      {% endblock %}
    </div>
  </body>
</html>
